.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input_container {
    display: grid;
    justify-items: center;
    align-items: center;
}

#input {
    background: none;
    border: none;
    outline: none;
    
    caret-color: transparent;
    field-sizing: content;

    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

#input::placeholder {
    color: var(--dark);
    opacity: 0.125;
}